body {
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  line-height: (18 / 12);

  color: var(--primary-text-color);

  background-color: var(--primary-bg-color);
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    padding: 0 34px;
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    padding: 0 70px;
    width: 1190px;
  }
}
.overflow-y {
  overflow: hidden;
}
