<section id="gallery" class="gallery section">
  <div class="container">
    <h1 class="visually-hidden">Галерея</h1>

    <ul class="gallery__grid">
      <li class="gallery__item-1 ">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/gallery-product1.webp    1x,
              ./images/desktop/gallery/gallery-product1-x2.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery/gallery-product1.png    1x,
              ./images/desktop/gallery/gallery-product1-x2.png 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="gallery__img"
            src="./images/desktop/gallery/gallery-product1.png"
            alt="Cup with ice cream"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery__item-2 ">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/gallery-product2.webp    1x,
              ./images/desktop/gallery/gallery-product2-x2.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery/gallery-product2.png    1x,
              ./images/desktop/gallery/gallery-product2-x2.png 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="gallery__img"
            src="./images/desktop/gallery/gallery-product2.png"
            alt="ice cream cone in hand"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery__item-3 ">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/gallery-product3.webp    1x,
              ./images/desktop/gallery/gallery-product3-x2.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery/gallery-product3.png    1x,
              ./images/desktop/gallery/gallery-product3-x2.png 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="gallery__img"
            src="./images/desktop/gallery/gallery-product3.png"
            alt="five pink popsicles"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery__item-4 ">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/gallery-product4.webp    1x,
              ./images/desktop/gallery/gallery-product4-x2.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery/gallery-product4.png    1x,
              ./images/desktop/gallery/gallery-product4-x2.png 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="gallery__img"
            src="./images/desktop/gallery/gallery-product4.png"
            alt="many colorful ice cream cones"
          />
        </picture>
      </li>
      <li class="gallery__item-5 ">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/gallery-product5.webp    1x,
              ./images/desktop/gallery/gallery-product5-x2.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery/gallery-product5.png    1x,
              ./images/desktop/gallery/gallery-product5-x2.png 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="gallery__img"
            src="./images/desktop/gallery/gallery-product5.png"
            alt="Smiling girl eating ice cream"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery__item-6 ">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/gallery-product6.webp    1x,
              ./images/desktop/gallery/gallery-product6-x2.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery/gallery-product6.png    1x,
              ./images/desktop/gallery/gallery-product6-x2.png 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="gallery__img"
            src="./images/desktop/gallery/gallery-product6.png"
            alt="cream with berries in a cup"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery__item-7 ">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/gallery-product7.webp    1x,
              ./images/desktop/gallery/gallery-product7-x2.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery/gallery-product7.png    1x,
              ./images/desktop/gallery/gallery-product7-x2.png 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="gallery__img"
            src="./images/desktop/gallery/gallery-product7.png"
            alt="orange ice cream cones in hand"
          />
        </picture>
      </li>
      <li class="gallery__item-8 ">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/gallery-product8.webp    1x,
              ./images/desktop/gallery/gallery-product8-x2.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery/gallery-product8.png    1x,
              ./images/desktop/gallery/gallery-product8-x2.png 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="gallery__img"
            src="./images/desktop/gallery/gallery-product8.png"
            alt="the dog is given ice cream to taste"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery__item-9 ">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/gallery-product9.webp    1x,
              ./images/desktop/gallery/gallery-product9-x2.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery/gallery-product9.png    1x,
              ./images/desktop/gallery/gallery-product9-x2.png 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="gallery__img"
            src="./images/desktop/gallery/gallery-product9.png"
            alt="cream with chocolate in a glass"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery__item-10 ">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/gallery-product10.webp    1x,
              ./images/desktop/gallery/gallery-product10-x2.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery/gallery-product10.png    1x,
              ./images/desktop/gallery/gallery-product10-x2.png 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="gallery__img"
            src="./images/desktop/gallery/gallery-product10.png"
            alt="cake with cream and zucchini"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
