<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-close-btn js-close-menu" aria-label="menu close button">
    <svg class="icon" width="14" height="14">
      <use xlink:href="./images/icons/sprite.svg#close-menu"></use>
    </svg>
  </button>
  <button class="buy__btn" type="button" data-modal-open>Buy now</button>
  <ul class="mobile-menu">
    <li><a href="#home" class="mobile-menu__link" data-mobile-item data-link>Home</a></li>
    <li><a href="#about-us" class="mobile-menu__link" data-mobile-item data-link>About us</a></li>
    <li>
      <a href="#howitsmade" class="mobile-menu__link" data-mobile-item data-link>How it’s made?</a>
    </li>
    <li>
      <a href="#products" class="mobile-menu__link" data-mobile-item data-link>Our products</a>
    </li>
    <li><a href="#contact" class="mobile-menu__link" data-mobile-item data-link>Contact</a></li>
  </ul>
</div>
