<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal__close-btn" data-modal-close>
      <svg class="modal__icon">
        <use href="./images/icons/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <p class="modal__title">Please, place your order</p>
    <form action="#" class="form-field">
      <div class="modal__field">
        <label for="user-name" class="modal__label">Name</label>
        <span class="modal__input-wrap">
          <input type="text" name="user-name" id="user-name" class="modal__input" />
          <svg class="modal__input-icon">
            <use href="./images/icons/sprite.svg#icon-user"></use>
          </svg>
        </span>
      </div>
      <div class="modal__field">
        <label for="user-tel" class="modal__label">Telephone</label>
        <span class="modal__input-wrap">
          <input type="tel" name="user-tel" id="user-tel" class="modal__input" />
          <svg class="modal__input-icon">
            <use href="./images/icons/sprite.svg#icon-phone"></use>
          </svg>
        </span>
      </div>
      <div class="modal__field">
        <label for="user-address" class="modal__label">Address</label>
        <span class="modal__input-wrap">
          <input type="text" name="user-address" id="user-address" class="modal__input" />
          <svg class="modal__input-icon">
            <use href="./images/icons/sprite.svg#icon-location"></use>
          </svg>
        </span>
      </div>
      <div class="modal__menu-field">
        <div class="modal__menu-wrap">
          <input id="cream" type="checkbox" class="modal__checkbox visually-hidden" />
          <label for="cream" class="modal__checkbox-icon">
            <span
              ><svg>
                <use href="./images/icons/sprite.svg#icon-check"></use></svg
            ></span>
            <img src="./images/icons/cream.png" alt="cream" width="100" height="100" />
          </label>
        </div>
        <div class="modal__menu-wrap">
          <input id="coffee" type="checkbox" class="modal__checkbox visually-hidden" />
          <label for="coffee" class="modal__checkbox-icon">
            <span
              ><svg>
                <use href="./images/icons/sprite.svg#icon-check"></use></svg
            ></span>
            <img src="./images/icons/coffee.png" alt="coffee" width="100" height="100" />
          </label>
        </div>
        <div class="modal__menu-wrap">
          <input id="shakes" type="checkbox" class="modal__checkbox visually-hidden" />
          <label for="shakes" class="modal__checkbox-icon">
            <span
              ><svg>
                <use href="./images/icons/sprite.svg#icon-check"></use></svg
            ></span>
            <img src="./images/icons/shakes.png" alt="shakes" width="100" height="100" />
          </label>
        </div>
      </div>
      <div class="modal__text-field">
        <label for="user-text" class="modal__label">Your comment</label>
        <textarea
          name="user-text"
          id="user-text"
          class="modal__text-input"
          placeholder="Enter text"
        ></textarea>
      </div>
      <button type="submit" class="btn">Send</button>
    </form>
  </div>
</div>
