<div class="backdrop is-hidden" data-modal-map>
  <div class="modal">
    <button type="button" class="modal__close-btn" data-modal-close-map>
      <svg class="modal__icon">
        <use href="./images/icons/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <p class="modal__title">Our Locations</p>
    <div class="modal__map-field">
      <p class="modal__label">Chicago, CAFE</p>
      <iframe
        class="modal__map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d380513.715995301!2d-88.01214843407936!3d41.8333925033913!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1637137133804!5m2!1sru!2sua"
        width="100"
        height="120"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
    <div class="modal__map-field">
      <p class="modal__label">Los Angeles, FOODTRUCK</p>
      <iframe
        class="modal__map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423286.2740658098!2d-118.69192119136834!3d34.020161304907774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9C40YTQvtGA0L3QuNGPLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1637137225462!5m2!1sru!2sua"
        width="100"
        height="120"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
    <div class="modal__map-field">
      <p class="modal__label">New York, CAFE</p>
      <iframe
        class="modal__map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.3059445135!2d-74.25986613799748!3d40.69714941774136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sua!4v1637137281497!5m2!1sru!2sua"
        width="100"
        height="120"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
    <address class="modal__address">
      <p class="modal__label modal__label_center">Our contacts</p>
      <ul class="modal__address-list">
        <li class="modal__address-item">
          <a class="modal__link link" href="tel:+610383766284">+61(0) 383 766 284</a>
        </li>
        <li class="modal__address-item">
          <a class="modal__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
      </ul>
    </address>
  </div>
</div>
