<section class="products section">
  <div class="container">
    <p id="products" class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item products__item--first">
        <h3 class="products__name">ice cream</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et.
        </p>
        <details class="product__details">
          <summary class="button products__button">
            <svg width="11" height="11">
              <use
                class="products__icon products__icon--close"
                href="./images/icons/sprite.svg#arrow-right"
              ></use>
            </svg>
          </summary>
          <div class="products__card">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas quisquam, ab
            perspiciatis cupiditate vero eveniet consectetur qui nobis officiis vitae!
          </div>
        </details>
      </li>

      <li class="products__item products__item--second">
        <h3 class="products__name">ice coffee</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et.
        </p>
        <details class="product__details">
          <summary class="button products__button">
            <svg width="11" height="11">
              <use
                class="products__icon products__icon--close"
                href="./images/icons/sprite.svg#arrow-right"
              ></use>
            </svg>
          </summary>
          <div class="products__card">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas quisquam, ab
            perspiciatis cupiditate vero eveniet consectetur qui nobis officiis vitae!
          </div>
        </details>
      </li>

      <li class="products__item products__item--third">
        <h3 class="products__name">milkshakes</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et.
        </p>
        <details class="product__details">
          <summary class="button products__button">
            <svg width="11" height="11">
              <use
                class="products__icon products__icon--close"
                href="./images/icons/sprite.svg#arrow-right"
              ></use>
            </svg>
          </summary>
          <div class="products__card">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas quisquam, ab
            perspiciatis cupiditate vero eveniet consectetur qui nobis officiis vitae!
          </div>
        </details>
      </li>
    </ul>
  </div>
</section>
