<section class="reviews section">
  <div class="container">
    <h2 id="about-us" class="section__title visually-hidden">Review</h2>
    <div class="reviews__list review-js">
      <div class="reviews__item">
        <picture>
          <source
            srcset="
              ./images/desktop/review/review-1.webp    1x,
              ./images/desktop/review/review-1@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 1280px)"
          />
          <source
            srcset="
              ./images/desktop/review/review-1.png    1x,
              ./images/desktop/review/review-1@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/desktop/review/review-1.png    1x,
              ./images/desktop/review/review-1@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/desktop/review/review-1.png    1x,
              ./images/desktop/review/review-1@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="reviews__images"
            src="./images/desktop/review/review-1.png"
            width="85"
            height="85"
            loading="lazy"
            alt="user photo"
          />
        </picture>
        <div class="reviews__wrapper">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="reviews__address">Emily, Los Angeles</p>
      </div>
      <div class="reviews__item">
        <picture>
          <source
            srcset="
              ./images/desktop/review/review-2.webp    1x,
              ./images/desktop/review/review-2@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 1280px)"
          />
          <source
            srcset="
              ./images/desktop/review/review-2.png    1x,
              ./images/desktop/review/review-2@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/desktop/review/review-2.png    1x,
              ./images/desktop/review/review-2@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/desktop/review/review-2.png    1x,
              ./images/desktop/review/review-2@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="reviews__images"
            src="./images/desktop/review/review-2.png"
            width="85"
            height="85"
            loading="lazy"
            alt=" user photo"
          />
        </picture>
        <div class="reviews__wrapper">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="reviews__address">Emily, Los Angeles</p>
      </div>
      <div class="reviews__item">
        <picture>
          <source
            srcset="
              ./images/desktop/review/review-3.webp    1x,
              ./images/desktop/review/review-3@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 1280px)"
          />
          <source
            srcset="
              ./images/desktop/review/review-3.png    1x,
              ./images/desktop/review/review-3@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/desktop/review/review-3.png    1x,
              ./images/desktop/review/review-3@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/desktop/review/review-3.png    1x,
              ./images/desktop/review/review-3@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="reviews__images"
            src="./images/desktop/review/review-3.png"
            width="85"
            height="85"
            loading="lazy"
            alt="user photo"
          />
        </picture>
        <div class="reviews__wrapper">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="reviews__address">Emily, Los Angeles</p>
      </div>
    </div>
  </div>
</section>
