.products {
  padding-top: 121px;
  padding-bottom: 98px;

  background-color: var(--secondary-bg-color);
  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}
.products__label {
  margin-bottom: 15px;

  font-family: Titan One, cursive;
  font-size: 18px;
  line-height: (21 / 18);
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: (30 / 26);
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: (34 / 30);
    letter-spacing: 0.04em;
  }
}

.products__title {
  margin-bottom: 144px;

  font-family: Titan One, cursive;
  font-size: 34px;
  line-height: (39 / 34);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 150px;

    font-size: 48px;
    line-height: (55 / 48);
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 259px;
    font-size: 58px;
    line-height: (66 / 58);
    letter-spacing: 0.06em;
  }
}
.products__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: -20px;
    margin-left: -20px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: -24px;
    margin-left: -24px;
  }
}

.products__item {
  position: relative;
  min-height: 485px;
  border-radius: 24px;
  padding-top: 161px;
  padding-bottom: 41px;
  padding-left: 41px;
  padding-right: 41px;
  text-align: center;

  &::before {
    @include pseudo();
    top: 0%;
    left: 50%;
    transform: translate(-50%, -45%);

    height: 252px;
    width: 249px;

    @include background-pos();
  }
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 130px;
    }
  }

  @media screen and (min-width: 768px) {
    padding-top: 152px;
    padding-bottom: 40px;
    padding-left: 11px;
    padding-right: 11px;
    margin-left: 20px;
    margin-top: 20px;
    flex-basis: calc(100% / 3 - 20px);

    &::before {
      height: 226px;
      width: 220px;
    }
  }
  @media screen and (min-width: 1280px) {
    padding-top: 163px;
    padding-bottom: 50px;
    padding-left: 44px;
    padding-right: 44px;
    margin-top: 24px;
    margin-left: 24px;
    flex-basis: calc(100% / 3 - 24px);

    &::before {
      transform: translate(-50%, -62%);
      height: 335px;
      width: 335px;
    }
  }
}

.products__item--first {
  background-color: var(--primary-card-bg);
  &::before {
    background-image: url('../images/mobile/products/ice-cream-mob-min.png');
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    &::before {
      background-image: url('../images/mobile/products/ice-cream-mob@2x-min.png');
    }
  }
  @media screen and (min-width: 768px) {
    &::before {
      background-image: url('../images/tablet/products/ice-cream-tab-min.png');
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      &::before {
        background-image: url('../images/tablet/products/ice-cream-tab@2x-min.png');
      }
    }
  }
  @media screen and (min-width: 1280px) {
    &::before {
      background-image: url('../images/desktop/products/ice-cream-desk-min.png');
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      &::before {
        background-image: url('../images/desktop/products/ice-cream-desk@2x-min.png');
      }
    }
  }
}

.products__item--second {
  background-color: var(--secondary-card-bg);
  &::before {
    background-image: url('../images/mobile/products/ice-coffee-mob-min.png');
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    &::before {
      background-image: url('../images/mobile/products/ice-coffee-mob@2x-min.png');
    }
  }
  @media screen and (min-width: 768px) {
    &::before {
      background-image: url('../images/tablet/products/ice-coffee-tab-min.png');
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      &::before {
        background-image: url('../images/tablet/products/ice-coffee-tab@2x-min.png');
      }
    }
  }
  @media screen and (min-width: 1280px) {
    &::before {
      background-image: url('../images/desktop/products/ice-coffee-desk-min.png');
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      &::before {
        background-image: url('../images/desktop/products/ice-coffee-desk@2x-min.png');
      }
    }
  }
}

.products__item--third {
  background-color: var(--third-card-bg);
  &::before {
    background-image: url('../images/mobile/products/milkshakes-mob-min.png');
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    &::before {
      background-image: url('../images/mobile/products/milkshakes-mob@2x-min.png');
    }
  }
  @media screen and (min-width: 768px) {
    &::before {
      background-image: url('../images/tablet/products/milkshakes-tab-min.png');
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      &::before {
        background-image: url('../images/tablet/products/milkshakes-tab@2x-min.png');
      }
    }
  }
  @media screen and (min-width: 1280px) {
    &::before {
      background-image: url('../images/desktop/products/milkshakes-desk-min.png');
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      &::before {
        background-image: url('../images/desktop/products/milkshakes-desk@2x-min.png');
      }
    }
  }
}

.products__name {
  font-family: Titan One, cursive;

  font-size: 20px;
  line-height: (23 / 20);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--lite-text-color);

  margin-bottom: 30px;

  &::after {
    content: '';
    display: block;
    margin-top: 30px;
    // не срабатывает центрирование по-другому
    margin-left: auto;
    margin-right: auto;
    @include background-pos();
    background-image: url('../images/mobile/products/dots-mob.png');
    background-position: center;
    width: 26px;
    height: 6px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: (34 / 30);
    margin-bottom: 32px;
    &::after {
      margin-top: 32px;
    }
  }
}

.products__text {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 62px;
  }
}

.products__text,
.products__card {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.52;

  letter-spacing: 0.04em;
  color: var(--lite-text-color);

  @media screen and (min-width: 768px) {
    line-height: 1.76;
    // max-width: 198px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    // max-width: 241px;
  }
}

details summary::-webkit-details-marker {
  display: none;
}
details > summary {
  list-style: none;
}

.products__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--primary-btn-bg);
  cursor: pointer;
  transition: transform var(--animation-timer) var(--animation-cube), background-color  var(--animation-timer) var(--animation-cube);
  &:hover, &:focus{
    background-color: var(--hover-btn-bg-lite);
  }
}

.products__icon {
  fill: var(--accent-color);
}
// details[open] summary {
//   transform: rotate(90deg);
// }

.product__details[open] .products__button {
  transform: rotate(90deg);
}

.products__card {
  padding-top: 10px;
}
